openapi: 3.0.3
info:
  title: Neosantara AI - Embeddings API
  description: Get a vector representation of a given input that can be easily consumed by machine learning models and algorithms.
  version: 1.0.0
servers:
  - url: https://api.neosantara.xyz/v1
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      $ref: './common.yaml#/components/securitySchemes/ApiKeyAuth'
  schemas:
    ErrorResponse:
      $ref: './common.yaml#/components/schemas/ErrorResponse'
paths:
  /embeddings:
    post:
      tags: [Embeddings]
      summary: Create Embeddings
      description: Creates an embedding vector representing the input text.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, input]
              properties:
                model:
                  type: string
                  example: nusa-embeddings-0001
                input:
                  oneOf:
                    - type: string
                    - type: array
                      items: { type: string }
                  description: Input text to embed.
                encoding_format:
                  type: string
                  enum: [float, base64]
                  default: float
            example:
              model: "nusa-embeddings-0001"
              input: "Artificial intelligence is the future."
      responses:
        '200':
          description: Embedding result
          content:
            application/json:
              schema:
                type: object
                properties:
                  object: { type: string, example: "list" }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        object: { type: string, example: "embedding" }
                        embedding: { type: array, items: { type: number } }
                        index: { type: integer }
                  model: { type: string }
                  usage:
                    type: object
                    properties:
                      prompt_tokens: { type: integer }
                      total_tokens: { type: integer }
              example:
                object: "list"
                data:
                  - object: "embedding"
                    embedding: [0.0023064255, -0.009327292, 0.01579734]
                    index: 0
                model: "nusa-embeddings-0001"
                usage:
                  prompt_tokens: 5
                  total_tokens: 5
        '401':
          description: Unauthorized
          content:
            application/json: { schema: { $ref: '#/components/schemas/ErrorResponse' } }
