openapi: 3.0.3
info:
  title: Neosantara AI - Images API
  description: Robust API for image generation and manipulation.
  version: 1.0.0
servers:
  - url: https://api.neosantara.xyz/v1
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      $ref: './common.yaml#/components/securitySchemes/ApiKeyAuth'
paths:
  /images/generations:
    post:
      tags: [Images]
      summary: Create Image
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model, prompt]
              properties:
                model:
                  type: string
                  example: amazon.titan-image-generator-v2:0
                prompt:
                  type: string
                  description: Text description of the desired image.
                image:
                  type: string
                  description: Optional base64 input image for img2img tasks.
                mask_image:
                  type: string
                  description: Optional base64 mask for inpainting/outpainting.
                outpainting_mode:
                  type: string
                  enum: [DEFAULT, PRECISE]
                n:
                  type: integer
                  minimum: 1
                  maximum: 10
                  default: 1
                size:
                  type: string
                  enum: ["512x512", "1024x1024", "1408x1408"]
                  default: "1024x1024"
                steps:
                  type: integer
                  default: 20
                  minimum: 1
                  maximum: 50
                response_format:
                  type: string
                  enum: [url, b64_json]
                  default: url
      responses:
        '200':
          description: List of generated images
          content:
            application/json:
              schema:
                type: object
                properties:
                  created: { type: integer }
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        url: { type: string }
                        b64_json: { type: string }