openapi: 3.0.3
info:
  title: Neosantara AI - Responses API
  description: Stateful conversation API with support for prompt templates and historical context tracking.
  version: 1.0.0
servers:
  - url: https://api.neosantara.xyz/v1
security:
  - ApiKeyAuth: []
components:
  securitySchemes:
    ApiKeyAuth:
      $ref: './common.yaml#/components/securitySchemes/ApiKeyAuth'
paths:
  /responses:
    post:
      tags: [Responses]
      summary: Create Stateful Response
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [model]
              properties:
                model:
                  type: string
                  example: llama-3.3-70b-instruct
                input:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: object
                        properties:
                          type: { type: string, enum: [text, function_call, function_call_output] }
                          content: { type: string }
                          name: { type: string }
                          arguments: { type: string }
                          output: { type: string }
                          call_id: { type: string }
                instructions:
                  oneOf:
                    - type: string
                    - type: array
                      items:
                        type: object
                        properties:
                          type: { type: string, enum: [text] }
                          content: { type: string }
                prompt:
                  type: object
                  properties:
                    id: { type: string }
                    version: { type: string, default: "1" }
                    variables: { type: object, additionalProperties: { type: string } }
                previous_response_id:
                  type: string
                  description: References a previous response ID to maintain session context.
                stream:
                  type: boolean
                  default: false
                temperature:
                  type: number
                  default: 1.0
                max_output_tokens:
                  type: integer
                truncation:
                  type: string
                  enum: [auto, disabled]
                parallel_tool_calls:
                  type: boolean
                  default: true
                metadata:
                  type: object
                  maxProperties: 16
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                type: object
                properties:
                  id: { type: string }
                  object: { type: string, example: "response" }
                  created: { type: integer }
                  model: { type: string }
                  choices: { type: array, items: { type: object } }
                  usage: { $ref: './common.yaml#/components/schemas/Usage' }