{
  "openapi": "3.0.3",
  "info": {
    "title": "Neosantara AI API (Verified)",
    "description": "API for Neosantara AI services.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.neosantara.xyz/v1"
    }
  ],
  "security": [
    {
      "ApiKeyAuth": []
    }
  ],
  "tags": [
    {
      "name": "Anthropic"
    },
    {
      "name": "Chat"
    },
    {
      "name": "Embeddings"
    },
    {
      "name": "Images"
    },
    {
      "name": "Models"
    },
    {
      "name": "Moderations"
    },
    {
      "name": "Responses"
    },
    {
      "name": "Account"
    },
    {
      "name": "Utility"
    }
  ],
  "paths": {
    "/messages": {
      "post": {
        "tags": [
          "Anthropic"
        ],
        "summary": "Create Claude-compatible Message",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages",
                  "max_tokens"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "claude-3-5-sonnet-20241022"
                  },
                  "messages": {
                    "type": "array",
                    "description": "alternating user/assistant messages. first role must be user.",
                    "items": {
                      "type": "object",
                      "required": [
                        "role",
                        "content"
                      ],
                      "properties": {
                        "role": {
                          "type": "string",
                          "enum": [
                            "user",
                            "assistant"
                          ]
                        },
                        "content": {
                          "oneOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "array",
                              "items": {
                                "type": "object"
                              }
                            }
                          ]
                        }
                      }
                    }
                  },
                  "max_tokens": {
                    "type": "integer"
                  },
                  "system": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "text"
                              ]
                            },
                            "text": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    ]
                  },
                  "temperature": {
                    "type": "number",
                    "default": 1.0
                  },
                  "top_p": {
                    "type": "number"
                  },
                  "top_k": {
                    "type": "integer"
                  },
                  "stop_sequences": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "thinking": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "enabled",
                          "disabled"
                        ]
                      },
                      "budget_tokens": {
                        "type": "integer",
                        "minimum": 1024
                      }
                    }
                  },
                  "metadata": {
                    "type": "object"
                  },
                  "service_tier": {
                    "type": "string"
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Claude Message Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "type": {
                      "type": "string",
                      "example": "message"
                    },
                    "role": {
                      "type": "string",
                      "example": "assistant"
                    },
                    "content": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "model": {
                      "type": "string"
                    },
                    "stop_reason": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "input_tokens": {
                          "type": "integer"
                        },
                        "output_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "servers": [
        {
          "url": "https://api.neosantara.xyz/anthropic/v1"
        }
      ]
    },
    "/chat/completions": {
      "post": {
        "tags": [
          "Chat"
        ],
        "summary": "Chat Completions",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "llama-3.3-70b-instruct"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Message"
                    }
                  },
                  "temperature": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 2,
                    "default": 0.7
                  },
                  "top_p": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 1,
                    "default": 1
                  },
                  "max_tokens": {
                    "type": "integer",
                    "default": 2049
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  },
                  "n": {
                    "type": "integer",
                    "default": 1
                  },
                  "presence_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0
                  },
                  "frequency_penalty": {
                    "type": "number",
                    "minimum": -2,
                    "maximum": 2,
                    "default": 0
                  },
                  "response_format": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "text",
                          "json_object"
                        ]
                      }
                    }
                  },
                  "reasoning": {
                    "$ref": "#/components/schemas/Reasoning"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Tool"
                    }
                  },
                  "tool_choice": {
                    "oneOf": [
                      {
                        "type": "string",
                        "enum": [
                          "none",
                          "auto",
                          "required"
                        ]
                      },
                      {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "enum": [
                              "function"
                            ]
                          },
                          "function": {
                            "type": "object",
                            "properties": {
                              "name": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "name"
                            ]
                          }
                        }
                      }
                    ]
                  },
                  "web_search_options": {
                    "type": "object",
                    "properties": {
                      "max_results": {
                        "type": "integer"
                      },
                      "search_depth": {
                        "type": "string",
                        "enum": [
                          "basic",
                          "advanced"
                        ]
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Chat Completion Response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "example": "chat.completion"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "index": {
                            "type": "integer"
                          },
                          "message": {
                            "type": "object",
                            "properties": {
                              "role": {
                                "type": "string"
                              },
                              "content": {
                                "type": "string",
                                "nullable": true
                              },
                              "tool_calls": {
                                "type": "array",
                                "items": {
                                  "type": "object"
                                }
                              }
                            }
                          },
                          "finish_reason": {
                            "type": "string"
                          }
                        }
                      }
                    },
                    "usage": {
                      "$ref": "#/components/schemas/Usage"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "429": {
            "description": "Rate Limit Exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/embeddings": {
      "post": {
        "tags": [
          "Embeddings"
        ],
        "summary": "Create Embeddings",
        "description": "Creates an embedding vector representing the input text.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "input"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "nusa-embeddings-0001"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ],
                    "description": "Input text to embed."
                  },
                  "encoding_format": {
                    "type": "string",
                    "enum": [
                      "float",
                      "base64"
                    ],
                    "default": "float"
                  }
                }
              },
              "example": {
                "model": "nusa-embeddings-0001",
                "input": "Artificial intelligence is the future."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Embedding result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "object": {
                            "type": "string",
                            "example": "embedding"
                          },
                          "embedding": {
                            "type": "array",
                            "items": {
                              "type": "number"
                            }
                          },
                          "index": {
                            "type": "integer"
                          }
                        }
                      }
                    },
                    "model": {
                      "type": "string"
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "prompt_tokens": {
                          "type": "integer"
                        },
                        "total_tokens": {
                          "type": "integer"
                        }
                      }
                    }
                  }
                },
                "example": {
                  "object": "list",
                  "data": [
                    {
                      "object": "embedding",
                      "embedding": [
                        0.0023064255,
                        -0.009327292,
                        0.01579734
                      ],
                      "index": 0
                    }
                  ],
                  "model": "nusa-embeddings-0001",
                  "usage": {
                    "prompt_tokens": 5,
                    "total_tokens": 5
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/generations": {
      "post": {
        "tags": [
          "Images"
        ],
        "summary": "Create Image",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "prompt"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "amazon.titan-image-generator-v2:0"
                  },
                  "prompt": {
                    "type": "string",
                    "description": "Text description of the desired image."
                  },
                  "image": {
                    "type": "string",
                    "description": "Optional base64 input image for img2img tasks."
                  },
                  "mask_image": {
                    "type": "string",
                    "description": "Optional base64 mask for inpainting/outpainting."
                  },
                  "outpainting_mode": {
                    "type": "string",
                    "enum": [
                      "DEFAULT",
                      "PRECISE"
                    ]
                  },
                  "n": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 1
                  },
                  "size": {
                    "type": "string",
                    "enum": [
                      "512x512",
                      "1024x1024",
                      "1408x1408"
                    ],
                    "default": "1024x1024"
                  },
                  "steps": {
                    "type": "integer",
                    "default": 20,
                    "minimum": 1,
                    "maximum": 50
                  },
                  "response_format": {
                    "type": "string",
                    "enum": [
                      "url",
                      "b64_json"
                    ],
                    "default": "url"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "List of generated images",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": {
                      "type": "integer"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "url": {
                            "type": "string"
                          },
                          "b64_json": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/models": {
      "get": {
        "tags": [
          "Models"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "object": {
                      "type": "string",
                      "example": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string"
                          },
                          "object": {
                            "type": "string"
                          },
                          "created": {
                            "type": "integer"
                          },
                          "owned_by": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/models/{modelId}": {
      "get": {
        "tags": [
          "Models"
        ],
        "summary": "Retrieve Model",
        "description": "Get detailed information about a specific model.",
        "parameters": [
          {
            "name": "modelId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "404": {
            "description": "Model Not Found"
          },
          "429": {
            "description": "Rate Limit Exceeded"
          }
        }
      }
    },
    "/moderations": {
      "post": {
        "tags": [
          "Moderations"
        ],
        "summary": "Create Moderation",
        "description": "Classifies if text violates content policy.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "input"
                ],
                "properties": {
                  "input": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "string"
                        }
                      }
                    ]
                  },
                  "model": {
                    "type": "string",
                    "default": "text-moderation-latest"
                  }
                }
              },
              "example": {
                "input": "This is a test message.",
                "model": "text-moderation-latest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Moderation result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "model": {
                      "type": "string"
                    },
                    "results": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "flagged": {
                            "type": "boolean"
                          },
                          "categories": {
                            "type": "object"
                          },
                          "category_scores": {
                            "type": "object"
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "id": "modr-5678",
                  "model": "text-moderation-latest",
                  "results": [
                    {
                      "flagged": false,
                      "categories": {
                        "hate": false,
                        "self-harm": false,
                        "sexual": false,
                        "violence": false
                      },
                      "category_scores": {
                        "hate": 1e-05,
                        "self-harm": 1e-05,
                        "sexual": 1e-05,
                        "violence": 1e-05
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/responses": {
      "post": {
        "tags": [
          "Responses"
        ],
        "summary": "Create Stateful Response",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model"
                ],
                "properties": {
                  "model": {
                    "type": "string",
                    "example": "llama-3.3-70b-instruct"
                  },
                  "input": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "text",
                                "function_call",
                                "function_call_output"
                              ]
                            },
                            "content": {
                              "type": "string"
                            },
                            "name": {
                              "type": "string"
                            },
                            "arguments": {
                              "type": "string"
                            },
                            "output": {
                              "type": "string"
                            },
                            "call_id": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    ]
                  },
                  "instructions": {
                    "oneOf": [
                      {
                        "type": "string"
                      },
                      {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "type": {
                              "type": "string",
                              "enum": [
                                "text"
                              ]
                            },
                            "content": {
                              "type": "string"
                            }
                          }
                        }
                      }
                    ]
                  },
                  "prompt": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "version": {
                        "type": "string",
                        "default": "1"
                      },
                      "variables": {
                        "type": "object",
                        "additionalProperties": {
                          "type": "string"
                        }
                      }
                    }
                  },
                  "previous_response_id": {
                    "type": "string",
                    "description": "References a previous response ID to maintain session context."
                  },
                  "stream": {
                    "type": "boolean",
                    "default": false
                  },
                  "temperature": {
                    "type": "number",
                    "default": 1.0
                  },
                  "max_output_tokens": {
                    "type": "integer"
                  },
                  "truncation": {
                    "type": "string",
                    "enum": [
                      "auto",
                      "disabled"
                    ]
                  },
                  "parallel_tool_calls": {
                    "type": "boolean",
                    "default": true
                  },
                  "metadata": {
                    "type": "object",
                    "maxProperties": 16
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string"
                    },
                    "object": {
                      "type": "string",
                      "example": "response"
                    },
                    "created": {
                      "type": "integer"
                    },
                    "model": {
                      "type": "string"
                    },
                    "choices": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "usage": {
                      "$ref": "#/components/schemas/Usage"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/user/usage": {
      "get": {
        "tags": [
          "Account"
        ],
        "summary": "Get Account Status",
        "description": "Returns billing mode, current balance or quota, and recent usage logs (last 24 hours).",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "billing": {
                      "type": "object"
                    },
                    "stats_24h": {
                      "type": "object"
                    },
                    "recent_logs": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "timestamp": {
                            "type": "string"
                          },
                          "model": {
                            "type": "string"
                          },
                          "tokens": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "429": {
            "description": "Rate Limit Exceeded"
          }
        }
      }
    },
    "/messages/count_tokens": {
      "post": {
        "tags": [
          "Utility"
        ],
        "summary": "Count Tokens",
        "description": "Counts the total input tokens for a given request body (Anthropic compatible).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "model",
                  "messages"
                ],
                "properties": {
                  "model": {
                    "type": "string"
                  },
                  "messages": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "system": {
                    "type": "string"
                  },
                  "tools": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "input_tokens"
                  ],
                  "properties": {
                    "input_tokens": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "ApiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Format \"Bearer YOUR_API_KEY\"."
      }
    },
    "schemas": {
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "message": {
                "type": "string"
              },
              "type": {
                "type": "string"
              },
              "code": {
                "type": "string"
              },
              "request_id": {
                "type": "string"
              }
            }
          }
        }
      },
      "Usage": {
        "type": "object",
        "properties": {
          "prompt_tokens": {
            "type": "integer"
          },
          "completion_tokens": {
            "type": "integer"
          },
          "total_tokens": {
            "type": "integer"
          }
        }
      },
      "Message": {
        "type": "object",
        "required": [
          "role",
          "content"
        ],
        "properties": {
          "role": {
            "type": "string",
            "enum": [
              "system",
              "user",
              "assistant",
              "tool"
            ]
          },
          "content": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "required": [
                    "type"
                  ],
                  "properties": {
                    "type": {
                      "type": "string",
                      "enum": [
                        "text",
                        "image_url",
                        "file"
                      ]
                    },
                    "text": {
                      "type": "string"
                    },
                    "image_url": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    },
                    "file_url": {
                      "type": "object",
                      "properties": {
                        "url": {
                          "type": "string"
                        }
                      }
                    }
                  }
                }
              }
            ]
          }
        }
      },
      "Reasoning": {
        "type": "object",
        "properties": {
          "enabled": {
            "type": "boolean"
          },
          "effort": {
            "type": "string",
            "enum": [
              "none",
              "low",
              "medium",
              "high"
            ]
          },
          "max_tokens": {
            "type": "integer"
          }
        }
      },
      "Tool": {
        "type": "object",
        "required": [
          "type",
          "function"
        ],
        "properties": {
          "type": {
            "type": "string",
            "enum": [
              "function"
            ]
          },
          "function": {
            "type": "object",
            "required": [
              "name",
              "parameters"
            ],
            "properties": {
              "name": {
                "type": "string"
              },
              "description": {
                "type": "string"
              },
              "parameters": {
                "type": "object"
              }
            }
          }
        }
      }
    }
  }
}